.login-container {
  width: 100%;
  background: whitesmoke;
  padding: 10%;

  .login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
