.about {
  margin: 0% 5%;


  .our-team {
    display: flex;
    align-items: center;
    flex-direction: column;

    .image-card {
      height: 300px;

      .image {
        object-fit: cover;
        width: 100%;
        height: 75%;
      }
    }
  }

  p {
    text-align: justify;
  }
}
