.header {
  width: 100vw;
  background: var(--primary);
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2% 0;

  .header-menu {
    display: flex;
    padding: 0 10%;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0;

      a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
      }
    }
  }


}
